form(action="/new_review", method="post")
	div
		label Restaurant Name: 
		input(type="text", name="restaurantName")
		br

		div
		label Email: 
		input(type="text", name="email")
		br

		div
		label Review Title: 
		input(type="text", name="reviewTitle")
		br

		div
		label Review body: 
		input(type="text", name="reviewBody")
		br

	div
		input(type="submit", value="Add review")