form(action="/costChange", method="post")
	label Relation:
	input(type="text", value="relation", name="relation")
	label New Cost:
	input(type="text", name="cost")
	input(type="submit", value="Change")