form(action="/Relations", method="post")
		label Relations: 
		select(id='relSel', name='rels', style='min-width:300px')
				each rel in rl
					option(value=rel name = "select")= rel
		input(type="submit", value="Choose relation")