form(action="/unfollow_user", method="post")
	
		div
		label Your Email: 
		input(type="text", name="useremail")
		br

		div
		label Follower Email: 
		input(type="text", name="followeremail")
		br
	div
		input(type="submit", value="unfollow user")